# Listas
Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencilla

In [64]:
L1 = [] #Lista vacía

In [65]:
L2 = ['a','e','i','o','u'] #Lista con vocales

In [66]:
L3 = [1,2,3,4,5,6]  # Lista de enteros

In [67]:
L4 = ['a', 5, True, "String"] #Lista con varios tipos

In [68]:
L5 = [0]*10     # Lista de 10 ceros
print(L5)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [69]:
L4[0] # Primera posición de la L4, comienzan en 0

'a'

In [70]:
L5[4] = 3.14    #Modificación del valor en posición 5 de L5
print(L5)

[0, 0, 0, 0, 3.14, 0, 0, 0, 0, 0]

In [71]:
L4[0:3]    # Accesos de posiciones múltiples (incluye la primera, no la última) pos[0-2]

['a', 5, True]

In [72]:
L5[1:4] = [4,5,6]   # Agrega en pos 1,2,3 de L5 los valores 4,5,6
print(L5)

[0, 4, 5, 6, 3.14, 0, 0, 0, 0, 0]

In [73]:
L5.append(8)    # Agrega el 8 al último de la lista
print(L5)

[0, 4, 5, 6, 3.14, 0, 0, 0, 0, 0, 8]

In [74]:
L5.remove(4) #Elimina la primera ocurrencia del objeto 4 de la lista
print(L5)

[0, 5, 6, 3.14, 0, 0, 0, 0, 0, 8]

In [75]:
L5.reverse() #Da vuelta o invierte la lista
print(L5)

[8, 0, 0, 0, 0, 0, 3.14, 6, 5, 0]

In [76]:
L5.count(0) #Cuenta cuentos ceros

6

In [77]:
L5.index(3.14) #En que posicion se encuentra el número

6

In [78]:
len(L5)     # Largo de la lista

10

In [79]:
L = [1,2,3,4,5,6]

In [80]:
L[1::2] # Desde la posición 1, de dos en dos, retorna pares

[2, 4, 6]

In [81]:
L[::2] # Desde la posición 0, de dos en dos, impares

[1, 3, 5]

In [82]:
L[-1] # El último elemento de la lista

6

In [83]:
8 in L  # 8 está en lista "L"? falso

False

In [84]:
4 in L  # 4 está en lista "L"? verdadero

True

# Ciclos o bucles
Los ciclos **for** iteran sobre una colección (lista, string, objeto iterable)

In [85]:
for numero in L:    #recorre lista "L"
    print(numero)

1
2
3
4
5
6

In [86]:
for x in range(0,5):   # genera lista del 0 al 9 => es igual a range(5)
    print(x)            # por defecto es uno, pero 3er parametro es el X veces

0
1
2
3
4

In [87]:
for c in "Texto": print(c)

T
e
x
t
o

In [88]:
notas = [3.5, 6.7, 8, 9, 4.5]
suma = 0
for nota in notas:
    suma += nota
print( "Promedio es: "+str(suma/len(notas)) )

Promedio es: 6.34

El ciclo **while** se repite hasta que la consición booleana deja de ser cierta

In [89]:
count = 0
while count < 4:    # Ciclo hasta 4
    print(count)
    count += 1

0
1
2
3

In [90]:
primos = [2,3,5,7,11,13,17]         # Obtiene la posición y el valor de la lista
for idx, p in enumerate(primos): print(idx, p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17

In [91]:
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17

# Tupla
Una tupla es una colección de onjetos que no puede modificarse (tiene tamaño y contenido fijo)

In [92]:
p1 = (1,)   # Tupla con 2 valores
p1

(1,)

In [93]:
p2 = (1,2,3,4)   # Tupla con 4 valores [1-4]
p2

(1, 2, 3, 4)

In [94]:
p3 = (1,2,'c',3.14)     # Tupla variable
p3

(1, 2, 'c', 3.14)

In [95]:
p3[0]       # Primer elemento de la tupla

1

In [96]:
p3[0:2]     # 1er y 2do elemento de la lista

(1, 2)

In [97]:
a,b,c,d = p3        # Pasa cada valor de la tupla en las variables a,b,c,d
print(a,b,c,d)

1 2 c 3.14

In [98]:
lista3 = list(p3)   # Transforma la tupla en lista
lista3

[1, 2, 'c', 3.14]

In [99]:
p5 = tuple(L5)   # Transforma la lista en tupla
p5

(8, 0, 0, 0, 0, 0, 3.14, 6, 5, 0)

In [100]:
"Hola que tal estás".split(" ")

['Hola', 'que', 'tal', 'estás']

In [101]:
numeros = input("Escribe número separados por coma: ")
numL = numeros.split(",")
print(numL)
numT = tuple(numL)
print(numT)

['10', '25', '34', '36', '71', '82', '91']
('10', '25', '34', '36', '71', '82', '91')

In [102]:
suma = 0
for n in numT:
    suma += int(n)

print( suma/len(numT) )

49.857142857142854

# Diccionario
Colección no ordenada de pares de valores: claves <-> valores. Se indexa no por posición, si no utilizando las claves

In [103]:
nombre = "Juan Rojas"
print("Hola %s" %nombre)

Hola Juan Rojas

In [104]:
print("Estos son los números primos: %s" %primos)

Estos son los números primos: [2, 3, 5, 7, 11, 13, 17]

In [105]:
media = suma/len(numT)
print("Esto es un número decimal: %.0f" %media)

Esto es un número decimal: 50

In [106]:
edad = {
    "Juan": 30,
    "María": 20,
    "Ricardo": 53,
    "Antonio": 45
}

In [107]:
edad["Ricardo"]

53

In [108]:
edad["Ricardo"] = 52
edad

{'Juan': 30, 'María': 20, 'Ricardo': 52, 'Antonio': 45}

In [109]:
edad.keys() # Obtiene solo las claves

dict_keys(['Juan', 'María', 'Ricardo', 'Antonio'])

In [110]:
edad.values() # Obtiene solo los valores

dict_values([30, 20, 52, 45])

In [111]:
len(edad)

4

In [112]:
"María" in edad     # Está en el diccionario

True

In [113]:
"Pepe" not in edad     # No está en el diccionario

True

In [114]:
del edad["Antonio"]

In [115]:
edad

{'Juan': 30, 'María': 20, 'Ricardo': 52}

In [116]:
notas = {
    "Alumno1": 5.6,
    "Alumno2": 7.5,
    "Alumno3": 10,
    "Alumno4": False,
}
notas

{'Alumno1': 5.6, 'Alumno2': 7.5, 'Alumno3': 10, 'Alumno4': False}